body {
	background: #FFFFFF;
}

.navbar-default .navbar-brand {
	width: 141px;
	height: 41px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	color: #000000;
}

.navbar-default {
	background: #FEFEFE;
}

.navbar-default .container-fluid {
	padding-right: 5%;
    padding-left: 5%;
}

.navbar-default .navbar-nav>li>a {
		font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	align-items: center;
	text-align: right;
	color: #000000;
}

.navbar-default {
	padding-top: 10px;
    padding-bottom: 10px;
}

.terms-privacy {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	opacity: 0.7;
	margin-top: 25px;
}

footer {
	height: 292px;
	background: #27AE60;	
}

.footer-logo {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 32px;
}

.footer-menu {
	padding-top: 50px;
}

.footer-menu li {
	padding-top: 10px;
}

.footer-menu a,
.footer-menu {
	list-style: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
}

.footer-menu .footer-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 41px;
	color: #FFFFFF;
}

.footer-logo-block {
	margin-top: 130px;
    margin-left: 5%;
}

.thank-you {
	margin-left: 45px;
    margin-right: 45px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin-top: 75px;
	min-height: calc(100vh - 420px)
}

.thank-you-title {
	font-family: sans-serif;
	font-size: 48px;
	line-height: 61px;
	color: #219653;
}

.thank-you-description {
	line-height: 26px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin-top: 50px;
}

.thank-you-description > span {
	font-weight: bold;
}

.divader {
	border: 1px solid #E5E5E5;
}

.total-table {
	margin-top: 75px;
}

.total-table .table-title {
	font-family: sans-serif;
	font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 150.5%;
color: #000000;
}

.total-table .org-name {
	color: #000000;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	margin-top: 30px;
}

.table-head {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	margin-top: 25px;
}

.table-head ~ .divader {
	margin-top: 15px;
}

.total-items {
	margin-top: 25px;
	padding-left: 0;
    padding-right: 0;
}

.item-price {
	float: right;
}

.item-price,
.item-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.total-item {
	margin-bottom: 20px;
}

.table-footer {
	margin-top: 25px;
}

.table-footer .clearfix {
	margin-bottom: 10px;
}

.table-footer span {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
}

.default-btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	width: 151.74px;
	height: 32px;
	background: #27AE60;
	border: 1px solid #27AE60;
	border-radius: 4px;
}

.default-btn:hover {
	background: transparent;
	color: #27AE60;
}

.total-table .btn-block {
	margin-top: 50px;
    margin-bottom: 100px;
}

.divader {
	margin-top: 15px;
}

.main-banner-text {
	width: 55%;
	display: inline-block;
}

.main-banner-image {
	width: 40%;
	display: inline-block;
	margin-bottom: 20px;
}

.main-banner-title {
	color: #000000;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 36px;
}

.main-banner-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.home-page-container {
	width: 90%;
}

.main-banner-subtext {
	margin-top: 20px;
}

.bg-image {
	background-size: cover;
    background-position: center;
}

.main-banner-image .bg-image {
	background-image: url('../src/img/home/main-banner.png');
	height: 35vw;
    width: 30vw;
}

.main-banner-text {
	margin-top: 6vw;
}

.main-banner-text .default-btn {
	margin-top: 30px;
}

.live-projects h2 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 54px;
	color: #000000;
	opacity: 0.7;
	text-align: center;
}

.live-projects h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	opacity: 0.7;
}

.projects-block {
	margin-top: 25px;
	margin-bottom: 10px;
}

.projects-block .project {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 20px;
}

.project-img {
	width: auto;
	min-height: 135px;
	border-radius: 4px;
	margin-left: -10px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.projects-block h3.project-title {
	text-align: left !important;
	font-weight: 600;
    font-size: 18px !important;
	color: #000000;
}

.project-prg {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	color: #000000;
	opacity: 0.5;
}

.projects-row {
	margin-left: -25px;
    margin-top: -8px;
}

.project .progress-bar {
	background: #219653;
	height: 5px;
}

.project .progress {
	height: 5px;
}

.xs-clearfix {
	display: none;
}

.show-more-prj {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	color: #27AE60;	
	cursor: pointer;
}

.show-more-prj:hover {
	text-decoration: underline;
}

.institute-block {
	margin-top: 15px;
    margin-bottom: 50px;
}

.institute-title {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 36px;
	color: #000000;
}

.institute-description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.institute-description .line {
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: 40%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.institute-description .opacity-text {
	opacity: 0.5;
}

.institute-description button {
	width: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
}

.full-container {
	width: 100%;
}

.rectangle-block {
	height: 45vw;
	background-image: url('../src/img/home/bottom_background.png');
	position: relative;
}

.rectangle-block .description {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.rectangle-block .description h3 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
}

.rectangle-block .description span {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}

.rectangle-block .description button {
	width: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}

.steps-block {
	background: #27AE60;
}

.st-1 {
	margin-top: 45px;
    margin-left: 5%;
}

.st-3 {
	margin-left: 5%;	
}

.step-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
}

.step-description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
	opacity: 0.6;
}

.step-image {
    width: 120px;
    display: inline-block;
    height: 90px;
    position: relative;
	
}

.step-image img {
	width: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.step-data {
	width: calc(99% - 120px);
	display: inline-block;
	top: -40px;
    position: relative;
}

.st-2 .step-data {
	padding-right: 25px;
}

.st-3 {
	margin-bottom: 35px;
}

.about-page .bg-image {
	height: 35vw;
    background-image: url(../src/img/home/bottom_background.png);
	position: relative;
	margin-bottom: 8vw;
}

.about-page {
	margin-top: -20px;
}

.about-page .info-block > div:first-of-type {
	margin-bottom: 25px;
}

.about-page .text-block {
	background: #27AE60;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
	position: absolute;
    width: 40vw;
	padding: 20px;
	right: 10%;
	bottom: -4vw;
}

.about-page .text-block span {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 150.5%;
	color: #FFFFFF;
	padding: 25px;
}

.info-block-title {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 150.5%;
	color: #4F4F4F;
	padding-bottom: 20px;
}

.info-block-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #4F4F4F;
}

.info-block {
	width: 50%;
    margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 50px;
}

.main-campaing-poster .info-block {
	margin-top: 35px;
}

.who-we-block {
	background: #F5F5F7;
}

.who-we-block .title {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 150.5%;
	color: #4F4F4F;
	margin-top: 50px;
}

.who-we-block .description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	opacity: 0.7;
}

.participants {
	margin-bottom: 75px;
	margin-top: 30px;
}

.participant {
	position: relative;
}

.par-title {
	background: #FFFFFF;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    width: 272px;
    position: absolute;
    right: 0;
    bottom: -16%;
}

.par-title h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;	
	color: #4F4F4F;
}

.par-title h4 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;	
	opacity: 0.4;
}

.par-title h3,
.par-title h4 {
 margin-left: 10%;
}

.participant-description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #4F4F4F;
	margin-top: 75px;
}

.participant img {
	width: 299px;
	height: 299px;
}

.campaing-head {
	padding-right: 5%;
    padding-left: 5%;
}

.main-campaing-poster .bg-image {
	position: relative;
	margin-top: 35px;
	height: 35vw;
	background-image: url(../src/img/campaign/top_banner.png);
	position: relative;
}

.main-campaing-bottom-poster .bg-image {
	position: relative;
	margin-top: 35px;
	height: 35vw;
	background-image: url(../src/img/campaign/bottom_banner.png);
	position: relative;
}
.main-campaing-poster .bg-image .poster-description {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 54px;
	color: #FFFFFF;
	max-width: 450px;
    position: absolute;
    right: 12%;
    bottom: 12%;
}

.campaing-title {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	color: #000000;
}

.campaing-description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #000000;
}

.main-campaing-poster .info-block-title {
	font-size: 48px;
	line-height: 64px;
	color: #000000;
}

.main-campaing-poster .info-block-text {
	font-size: 18px;
    line-height: 28px;
	color: #000000;
}

.our-prg-block {
	/* box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25); */
	margin-top: 25px;
}
.our-prg-block .prg-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #000000;
}

.our-prg-block .prg-supporters {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	padding-left: 20px;
}

.our-prg-block .default-btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 12px 25px 25px 25px;
	width: auto;
}

.our-prg-block .default-btn:hover {
	color: #27AE60;
}

.our-prg-block .progress {
	height: 5px;
	margin-top: 15px;
	position: relative;
}

.what-we-need .title {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	color: #000000;
}

.what-we-need .elements .preview-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 41px;	
	color: #000000;
}

.what-we-need .elements .preview-decription {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 23px;	
	color: #000000;
}

.what-we-need .elements .price {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 25px;
}

.what-we-need .elements .image image {
	width: 112px;
	height: 112px;
}

.elements .input-group input {
	width: 64px;
	text-align: center;
	margin-left: 20px;
	margin-right: 10px;
	pointer-events: none;
	padding-right: 0;
}

.elements .input-group {
	width: 128px;
}

.elements .input-group span {
	position: relative;
	border: none;
}
.elements .input-group button {
	border: none;
}

.elements > div {
	height: 240px;
}

.modal-header .close {
	float: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	opacity: 0.5;
}

#checkout-modal .modal-content {
	background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.modal-btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #27AE60;
	border: 1px solid #27AE60;
	border-radius: 4px;	
	padding: 15px 50px 15px 50px;	
}

.modal-btn:hover {
	color: #27AE60;
	background: transparent;
}

.modal-pr-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}

.modal-total-price {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 150.5%;
	text-align: right;	
	color: #000000;
	padding-left: 15px;
}

.modal-pr-block  {
	display: inline-block;
    float: left;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	margin-top: -15px;
    margin-bottom: 25px;
}

.modal-price.input-group input {
    width: 64px;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
	pointer-events: none;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 4px;
	padding-right: 0;
}

.modal-price {
	width: 128px;
}

.modal-product-block {
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal-product {
	display: inline-block;
}

.modal-price-block {
	display: inline-block;
    float: right;
    margin-top: 30px;
}

.modal-body .modal-product-block:last-child {
	margin-bottom: 20px;
}

.modal-product-total {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
	margin-top: 35px;
}

.modal-product h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}

.modal-product h4 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 15px;
	color: #000000;	
	opacity: 0.5;
} 

.info-form .modal-content {
	background: #F2F2F2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.info-form .title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
}

@media (min-width: 768px) {
	.elements .image,
	.elements .calculation-group {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

@media (max-width: 767px) { 
	.elements > div {
		height: auto !important;
	}

	.what-we-need .elements .preview-title {
		text-align: center;
	}

	.calculation-group {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.input-group-parent {
		display: inline-block;
	}
	.calculation-group .add-btn {
		margin-top: -25px !important;
    	margin-left: 20px;
	}
}

.calculation-group .add-btn {	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	width: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    margin-top: 25px;
}

.calculation-group .add-btn:hover {
	color: #27AE60;
}

.btn-number {
	cursor: pointer;
}

.bottom-line {
	border: 1px solid #E5E5E5;
	height: 1px !important;
    margin-top: 10px;
}

.browse-prj {
	background: #FFFFFF;
	border: 1px solid #27AE60;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Roboto !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 13px !important;
	line-height: 15px !important;
	text-align: center !important;
	color: #27AE60 !important;
	margin-top: 10px !important;
	padding-bottom: 0 !important;
    padding-top: 8px !important;

}

.browse-prj:hover {
	background-color: #27AE60;
	color: #FFFFFF;
}

@media (min-width: 1400px) {
	.participants {
		max-width: 76%;
		margin-left: 12%;
	}
}

@media (max-width: 1250px) { 
	.about-page .text-block span {
		font-size: 25px;
	}
}

@media (max-width: 1120px) { 
	.participant img {
		width: 240px;
		height: 240px;
	}

	.par-title {
		width: 220px;
		right: -15px;
	}

	.about-page .text-block {
		width: 50vw;
		bottom: -5vw;
	}

	.info-block {
		width: 70%;
		margin-right: 15%;
		margin-left: 15%;
	}
}

@media (max-width: 870px) { 
	.participant img {
		width: 100%;
		height: auto;
	}
	
	.par-title {
		width: 190px;
		left: 50%;
		transform: translateX(-50%);
		bottom: -90px;
	}

	.participant-description {
		margin-top: 130px;
	}
}

@media (max-width: 767px) { 
	.participant img {
		width: 300px;
	}

	.par-title {
		width: 300px;
    	bottom: -70px;
	}

	.participant-description {
		margin-top: 100px;
		margin-bottom: 50px;
	}
}

@media (max-width: 400px) { 
	.participant img {
		width: 250px;
	}

	.par-title {
		width: 250px;
	}
}

@media (max-width: 991px) {
	.elements > div {
		height: 270px;
	}
}

@media (min-width: 991px) {
	.project .col-md-3 {
		width: 200px;
	}

	.projects-block {
		width: 80%;
		margin-left: 10%;
	}
	
	.institute-block {
		width: 80%;
		margin-left: 10%;
	}
	
	.main-banner {
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}

	.main-banner-title {
		font-size: 3vw;
		line-height: 3.2vw;
	}

	.main-banner-subtext {
		margin-top: 35px;
		font-size: 2vw;
		line-height: 2.1vw;
	}

	.big-dynamic-button {
		width: auto;
		height: auto;
		font-size: 1.5vw;
		padding: 1vw 2.5vw;
	}

	.md-dynamic-button {
		width: auto !important;
		height: auto !important;
		font-size: 1vw !important;
		padding: 0.6vw 3.5vw !important;
	}

	.small-dynamic-button {
		width: auto !important;
		height: auto !important;
		font-size: 1vw !important;
		padding: 0.5vw 3.5vw !important;
	}

	.rectangle-block .description h3 {
		font-size: 3vw;
		padding-bottom: 15px;
	}

	.rectangle-block .description span {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 1.2vw;
		line-height: 1.5vw;
		text-align: center;
		color: #FFFFFF;
	}

	.main-campaing-poster .bg-image .poster-description {
		font-size: 2.9vw;
	}

	.campaing-title {
		font-size: 3vw;
	}

	.campaing-description {
		font-size: 1.2vw;
		padding-top: 10px;
	}

	.live-projects h2 {
		font-size: 3vw;
	}

	.live-projects h3 {
		font-size: 1.5vw;
		line-height: 2vw;
	}

	.show-more-prj {
		font-size: 1.3vw;
	}

	.institute-title {
		font-size: 2vw;
	}

	.institute-description {
		font-size: 1.1vw;
		margin-top: 8px;
	}

	.projects-row {
		padding-bottom: 20px;
	}
}

@media (min-width: 1191px) {
	.our-prg-block .prg-title {
		font-size: 1.5vw;
	}
	.our-prg-block .prg-supporters {
		font-size: 1vw;
	}

	.what-we-need .title {
		font-size: 2.5vw;
	}

	.what-we-need .elements .preview-title {
		font-size: 1.8vw;
	}

	.what-we-need .elements .preview-decription {
		font-size: 16px;
	}

	.our-prg-block .prg-title {
		font-size: 1.5vw;
	}

	.our-prg-block .prg-supporters {
		font-size: 1vw;
	}

	.what-we-need .title {
		font-size: 2.5vw;
	}

	.what-we-need .elements .preview-title {
		font-size: 1.8vw;
	}

	.institute-image {
		width: 200px;
	}

	.step-title {
		font-size: 2vw;
		margin-bottom: 15px;
	}

	.step-data {
		top: -25px;
	}

	.step-description {
		font-size: 1.2vw;
	}

	.projects-block h3.project-title {
		font-size: 1.2vw !important;
	}

	.project-prg {
		font-size: 1vw;
	}
}

@media (max-width: 1191px) {
	.main-banner-image .bg-image {
		height: 400px;
	}
}

@media (max-width: 991px){
	.footer-logo-block {
		margin-top: 20px;
		margin-left: 40px;
	}
	
	.footer-menu {
		padding-top: 10px;
	}
	
	.navbar-default .navbar-nav>li>a {
		text-align: left;
	}

	.main-banner-image .bg-image {
		height: 350px;
	}	

	.info-block {
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}

	.about-page .text-block span {
		font-size: 20px;
	}
}

.mobile-banner {
	width: 100%;
}

.slide-1,
.slide-2,
.slide-3 {
	height: 65vw;
}

.slide-1 {
	background-image: url(../src/img/home/head_img_overlay/img_index1.png);
}

.slide-2 {
	background-image: url(../src/img/home/head_img_overlay/img_index2.png);
}

.slide-3 {
	background-image: url(../src/img/home/head_img_overlay/img_index3.png);
}

.mobile-banner {
	display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
	.institute-image {
		width: 145px;
	}
}

@media (max-width: 767px) {
	.desktop-banner {
		display: none;
	}

	.mobile-banner {
		display: block;
	}

	.rectangle-block {
		height: 400px;
	}

	.about-page .bg-image {
		height: 350px;
	}

	.about-page .text-block {
		width: 70%;
		bottom: -70px;
		right: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.info-block {
		margin-top: 50px;
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}

	.about-page .text-block span {
		font-size: 16px;
		padding: 0;
	}

	.info-block-title {
		font-size: 24px;
		margin-bottom: 0;
	}

	.info-block-text {
		font-size: 14px;
		line-height: 21px;
	}

	.main-banner-title {
		font-size: 19px;
		width: 60%;
		margin-left: 20%;
		text-align: center;
		line-height: 26px;
	}
	
	.main-banner-subtext {
		width: 80%;
		margin-left: 10%;
		font-size: 16px;
		text-align: center;
		margin-bottom: 25px;
	}

	.main-banner-title
	.main-banner-subtext {
		display: block;
}	
}

@media only screen and (min-width: 511px) and (max-width: 768px) {
	.institute-image {
		width: 175px;
	}
  }

@media (max-width: 510px) {
	.xs-clearfix {
		display: block;
	}
	
	.projects-row {
		margin-bottom: 15px;
		width: 90%;
		margin-left: 5%;
		text-align: center;
	}

	.project-img-block { 
		text-align: center;
		width: 100%;
	}

	.projects-block h3.project-title {
		text-align: center !important;
	}
	
	.institute-block .institute-image {
		width: 100%;
		text-align: center;
	}
	
	.institute-block .institute-description {
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	
	.institute-description .line {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
	
}

@media (max-width: 480px) {
	.step-data {
		width: calc(90% - 120px);
	}
	
	.step-image img {
		margin-top: -50px;
	}
}

@media (max-width: 400px) {
	.footer-logo {
		font-size: 18px;
	}
	
	.footer-menu .footer-title {
		font-size: 20px;
		line-height: 19px;
	}
}

.info-form label {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.8)
}

.info-form .title-block  {
	margin-bottom: 15px;
}

.info-form .form-data {
	margin-left: 18px;
    margin-top: 15px;
}

.info-form .form-group {
	/* margin-top: 10px; */
}

.info-form .text-area {
	width: 320px;
	display: block;
	border: none;
	padding: 3px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0.3) 4%);
	background-position: -320px 0;
	background-size: 320px 100%;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 1);
	font-size: 16px;
	font-family: Roboto;
}
.info-form .text-area:focus, 
.info-form .text-area:valid {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}
.info-form .text-area:focus::-webkit-input-placeholder,
.info-form .text-area:valid::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-size: 11px;
	/* transform: translateY(-20px); */
	/* visibility: visible !important; */
}

.radio-btns label {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.9);	
	opacity: 0.9;
}

.radio-btns input[type="radio"] {
	width: 18.65px;
    height: 16.72px;
    background: #FFFFFF;
}

.radio-btns {
	margin-top: 10px;
}

.info-form .modal-btn,
.second-step.modal-btn {
	padding: 15px 100px 15px 100px;
}
/* 
.elipse-icon {
	margin-left: 12%;
    margin-top: -25px;
    position: relative;
    left: -10px;
} */

.elipse-block {
	background-size: cover;
    background-image: url(../src/img/campaign/Ellipse.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: -16px;
    position: relative;
    left: -13px;
    width: 25px;
}

.elipse-block span {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -15%);
}


.contact-form {
	margin-top: 50px;
	margin-bottom: 50px;
}

.contact-form input[type=text],
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: #45a049;
}